<%= form_for(@student_user) do |f| %>
  <% if @student_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_user.errors.count, "error") %> prohibited this student_user from being saved:</h2>

      <ul>
      <% @student_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :totalcoins %><br>
    <%= f.number_field :totalcoins %>
  </div>
  <div class="field">
    <%= f.label :currentcoins %><br>
    <%= f.number_field :currentcoins %>
  </div>
  <div class="field">
    <%= f.label :lvl %><br>
    <%= f.number_field :lvl %>
  </div>
  <div class="field">
    <%= f.label :progress %><br>
    <%= f.number_field :progress %>
  </div>
  <div class="field">
    <%= f.label :lvlUpAmount %><br>
    <%= f.number_field :lvlUpAmount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
