<p id="notice"><%= notice %></p>

<h1>Listing Student Users</h1>

<table>
  <thead>
    <tr>
      <th>Totalcoins</th>
      <th>Currentcoins</th>
      <th>Lvl</th>
      <th>Progress</th>
      <th>Lvlupamount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_users.each do |student_user| %>
      <tr>
        <td><%= student_user.totalcoins %></td>
        <td><%= student_user.currentcoins %></td>
        <td><%= student_user.lvl %></td>
        <td><%= student_user.progress %></td>
        <td><%= student_user.lvlUpAmount %></td>
        <td><%= link_to 'Show', student_user %></td>
        <td><%= link_to 'Edit', edit_student_user_path(student_user) %></td>
        <td><%= link_to 'Destroy', student_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student user', new_student_user_path %>
