<p id="notice"><%= notice %></p>

<p>
  <strong>Totalcoins:</strong>
  <%= @student_user.totalcoins %>
</p>

<p>
  <strong>Currentcoins:</strong>
  <%= @student_user.currentcoins %>
</p>

<p>
  <strong>Lvl:</strong>
  <%= @student_user.lvl %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @student_user.progress %>
</p>

<p>
  <strong>Lvlupamount:</strong>
  <%= @student_user.lvlUpAmount %>
</p>

<%= link_to 'Edit', edit_student_user_path(@student_user) %> |
<%= link_to 'Back', student_users_path %>
