<p id="notice"><%= notice %></p>

<p>
  <strong>Schoolname:</strong>
  <%= @school.schoolName %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @school.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
