<p id="notice"><%= notice %></p>

<h1>Listing Classrooms</h1>

<table>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Tid</th>
      <th>Room</th>
      <th>Classlvl</th>
      <th>Classprogress</th>
      <th>Nextlvl</th>
      <th>Schoolname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.grade %></td>
        <td><%= classroom.tid %></td>
        <td><%= classroom.room %></td>
        <td><%= classroom.classlvl %></td>
        <td><%= classroom.classProgress %></td>
        <td><%= classroom.nextLvl %></td>
        <td><%= classroom.schoolName %></td>
        <td><%= link_to 'Show', classroom %></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classroom', new_classroom_path %>
