<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @classroom.grade %>
</p>

<p>
  <strong>Tid:</strong>
  <%= @classroom.tid %>
</p>

<p>
  <strong>Room:</strong>
  <%= @classroom.room %>
</p>

<p>
  <strong>Classlvl:</strong>
  <%= @classroom.classlvl %>
</p>

<p>
  <strong>Classprogress:</strong>
  <%= @classroom.classProgress %>
</p>

<p>
  <strong>Nextlvl:</strong>
  <%= @classroom.nextLvl %>
</p>

<p>
  <strong>Schoolname:</strong>
  <%= @classroom.schoolName %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
