<%= form_for(@category_code) do |f| %>
  <% if @category_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_code.errors.count, "error") %> prohibited this category_code from being saved:</h2>

      <ul>
      <% @category_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :categoryType %><br>
    <%= f.number_field :categoryType %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
