<p id="notice"><%= notice %></p>

<h1>Listing Category Codes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Category</th>
      <th>Categorytype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_codes.each do |category_code| %>
      <tr>
        <td><%= category_code.code %></td>
        <td><%= category_code.category %></td>
        <td><%= category_code.categoryType %></td>
        <td><%= link_to 'Show', category_code %></td>
        <td><%= link_to 'Edit', edit_category_code_path(category_code) %></td>
        <td><%= link_to 'Destroy', category_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category code', new_category_code_path %>
