<%= form_for(@student_class_match) do |f| %>
  <% if @student_class_match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_class_match.errors.count, "error") %> prohibited this student_class_match from being saved:</h2>

      <ul>
      <% @student_class_match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sid %><br>
    <%= f.number_field :sid %>
  </div>
  <div class="field">
    <%= f.label :cid %><br>
    <%= f.number_field :cid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
