<p id="notice"><%= notice %></p>

<h1>Listing Student Class Matches</h1>

<table>
  <thead>
    <tr>
      <th>Sid</th>
      <th>Cid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_class_matches.each do |student_class_match| %>
      <tr>
        <td><%= student_class_match.sid %></td>
        <td><%= student_class_match.cid %></td>
        <td><%= link_to 'Show', student_class_match %></td>
        <td><%= link_to 'Edit', edit_student_class_match_path(student_class_match) %></td>
        <td><%= link_to 'Destroy', student_class_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student class match', new_student_class_match_path %>
