<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <%= javascript_include_tag "application" %>
    <head>
        <title><%= yield(:title) %> | Classroom Hero</title>

    </head>
    <body>


    <div class="center how-it-works-panel"style="display: none; margin: 0 auto; ">
      <button type="button" id="closeDropDown" class="btn btn-default" aria-label="Left Align" style="float: right; margin-right: 1%; margin-top: 1%;">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button><br>
      <h1>Get started</h1>
      <hr style="height:1px;border:none;color:#000;background-color:#000;" />
      <h2 style="color:blue;">Register students with SnowShoe Stamps</h2>
      <h3>Buy stamps, order a free test-kit from <a href="http://beta.snowshoestamp.com/#order">SnowShoe</a>, or <%= link_to "Contact us", contacts_path %> about a free one month trial with enough SnowShoe stamps for your whole class. </h3><br>

      <h2 style="color:blue;">Get ready for class</h2>
      <h3>Create positive actions you want to see repeated, like "Volunteer to read" and award students points for completing these actions. Set up items such as, "Homework pass" to sell to students for their points. </h3><br>

      <h2 style="color:blue;">Let the stamping begin!</h2><br>
      <h3>Simply have students stamp the treasure chest and claim coins</h3><br>
      <hr style="height:1px;border:none;color:#000;background-color:#000;" />
      <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#signUpModal" style="outline:none">
        Sign up now!
      </button>
      <%= link_to "Learn more", help_url, class: "btn btn-md btn-primary" %>

      <h1></h1>
    </div>

    <header class="splash">
      <div class="center jumbotron">
          <h1>Classroom Hero is an interactive token economy</h1><br>
          <a class="btn btn-md btn-info" id="how-it-works-btn">Get started</a><br>
            
            
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
           
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="carousel-caption">
                  <br><h2>
                    This is not your ordinary reward system. Combined with the magic of
                    <a href="http://beta.snowshoestamp.com/" style="color: lightblue">SnowShoe Stamps</a>, Classroom Hero instantly creates powerful teacher-student interactions
                  </h2><br>
                 
                  <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#signUpModal" style="outline:none">
                    Sign up
                  </button>
                  <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#signInModal" style="outline:none">
                    Sign in
                  </button>
                
                </div>
              </div>
              <div class="item">
                <div class="carousel-caption">
                    <br><h2>Motivate a generation of learners with technology that will increase participation and engagement</h2><br>
                    <%= link_to "Learn more", help_url, class: "btn btn-sm btn-primary" %>
                </div>
              </div>
              <div class="item">
                <div class="carousel-caption">
                    <br><h2>Hear from teachers and students using Classroom Hero </h2><br>
                    <a class="btn btn-sm btn-primary" href="#teacherVideos"> Videos </a>
                    <br>
                </div>
              </div>
            </div>
           
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            
          </div> 
          <!-- Carousel -->
      </div>

    </header>
    <div  id="scrollsection">
      <div class="col-md-12" style="text-align: center; position: relative; top: +50px; margin-bottom: 50px;">
        <div class="small-4 large-4 columns" style="font-size: 25px; color: black; margin-top: 35px; margin-bottom: 360px;">
          <%= scroll_reveal(content: 'Scroll down to see how Classroom Hero works', animation: 'enter top over 1.0s') %>
             <%= scroll_reveal(animation: "enter top over 1.0s" ) do %>
                <div style="color: blue; size: 200%; margin-top: 20px;"><i class="glyphicon glyphicon-arrow-down" ></i></div>
              <% end %>
          

        </div>
        
  

        <div class="small-4 large-4 columns" style="font-size: 25px; color: black; margin-top: 200px; margin-bottom: 25px;"><%= scroll_reveal(content: 'Award points for positive actions', animation: 'enter top over 1.0s') %></div><br><br>


        <div class="row">
          <div class="small-2 large-4 columns">
            <%= scroll_reveal(animation: "enter bottom, over .5s" ) do %>
              <%= image_tag 'rewardscreen.png' %>
            <% end %>
            <div class="small-2 large-4 columns" style="position: relative; top: -290px; left: -17px">
              <%= scroll_reveal(animation: "enter bottom, and move 350px after .7s" ) do %>
                <%= image_tag 'stamp.png' %>
              <% end %>
            </div>
          </div>

          <div class="small-4 large-4 columns" style="font-size: 25px; color: black; margin-top: 50px; margin-bottom: 25px;"><%= scroll_reveal(content: 'Sell items and privileges for hard-earned points', animation: 'enter top over 1.0s') %></div><br><br>
         
          <div class="small-2 large-4 columns">
          <%= scroll_reveal(animation: "enter top, over .5s" ) do %>
              <%= image_tag 'sellscreen.png' %>
            <% end %>
          </div>
          <div class="small-2 large-4 columns" style="position: relative; top: -292px; left: -5px">
            <%= scroll_reveal(animation: "enter bottom, and move 350px after .7s" ) do %>
              <%= image_tag 'stamp.png' %>
            <% end %>
          </div>

          <div class="small-4 large-4 columns" style="font-size: 25px; color: black; margin-top: 50px; margin-bottom: 25px;"><%= scroll_reveal(content: 'Add points to a classroom jar to keep every student engaged!', animation: 'enter top over 1.0s') %></div><br><br>

          <div class="small-2 large-4 columns">
          <%= scroll_reveal(animation: "enter top, over .5s" ) do %>
              <%= image_tag 'jarscreen.png' %>
            <% end %>
          </div>
          <div class="small-2 large-4 columns" style="position: relative; top: -285px; left: -5px">
            <%= scroll_reveal(animation: "enter bottom, and move 350px after .7s" ) do %>
              <%= image_tag 'stamp.png' %>
            <% end %>

          </div>
          <hr style="height:1px;border:none;color:#000;background-color:#000;" />


        </div>
      </div>
      
    </div>

    <div class="row">
      <div class="row text-center promoVideos">
        <div class="col-md-6">
          <div id="teacherVideos"></div>
          <iframe src="//www.youtube.com/embed/bJ4EFh7oWJc" width="380" height="300" scrolling="no" webkitallowfullscreen mozallowfullscreen>
          </iframe>
        </div>
        <div class="col-md-6">
          <iframe src="//www.youtube.com/embed/RX2e2b4o6fk" width="380" height="300" scrolling="no" webkitallowfullscreen mozallowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="row text-center demoVideos">

        <h1>Classroom Hero videos</h1>

        <div class="col-md-4">
          <iframe src="//www.youtube.com/embed/yOO31PwUpOs" width="380" height="300" scrolling="no" webkitallowfullscreen mozallowfullscreen>
          </iframe>
        </div>
        
        <div class="col-md-4">
          <iframe src="//www.youtube.com/embed/gisLhagdeDg" width="380" height="300" scrolling="no" webkitallowfullscreen mozallowfullscreen>
          </iframe>
        </div>
        <div class="col-md-4">
          <iframe src="//www.youtube.com/embed/g0gtK-tmDE0" width="380" height="300" scrolling="no" webkitallowfullscreen mozallowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    <hr style="height:1px;border:none;color:#000;background-color:#000;" />

    <div class="row">

      <div class="col-sm-4 col-sm-offset-1">
        <br><br>
        <%= image_tag('info1.png') %>
      </div>
      <div class="infoDescription col-md-5 col-md-offset-2">
        <div style="font-size: 25px; color: black;">
          Create a classroom community
        </div>
      </div>
    </div>

    <div class="row">
      <div class="infoDescription col-sm-4 col-sm-offset-1">
        <br><br>
          <div style="font-size: 25px; color: black;">
          Augment reality with a touch of plastic
        </div> 
      </div>
      <div class="col-md-5 col-md-offset-2">
        <%= image_tag('info2.png') %>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-4 col-sm-offset-1">
        <br><br>
        <%= image_tag('info3.png') %>
      </div>
      <div class="infoDescription col-md-5 col-md-offset-2">
        <div style="font-size: 25px; color: black;">
          Epic win
        </div>
      </div>
    </div>
  </body>
</html>


