<footer class="text-center footer">
	<div id="fb-root"></div>

	<hr style="height:1px;border:none;color:#000;background-color:#000;" />
	<div class="col-md-4">
	  <nav>
	    <ul>
	      <p> Company </p><br>
	      <li><%= link_to "About",   about_path %></li>
	      <li><%= link_to "Help", help_path %></li>
	      <li><%= link_to "Privacy Policy", privacypolicy_path %></li>
	      <li><%= link_to "Terms of Use", termsofuse_path %></li>

	    </ul>
	  </nav>
  </div>

  <div class="col-md-4">
  	<ul>
      <li>
        <div style="font-size: 15px; color: black;">
          Spread the word. Like or share us. 
        </div>
      </li><br>
      <li>
        <%= render_shareable :buttons=> ['facebook', 'twitter', 'google_plus', 'linkedin', 'reddit', 'pinterest'] %>
      </li><br><br>
      	Copyright &copy; Classroom Hero 2014

  	</ul>

  </div>

  <div class="col-md-4">
	  <nav>
	    <ul>
	      <p> Discover </p><br>
	      <li><%= link_to "Mobile",   about_path %></li>
	      <li><%= link_to "Invite Friends", help_path %></li>
	      <li><a href="http://news.railstutorial.org/">News</a></li>

	    </ul>
	  </nav>
  </div>
</footer>