<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Classroom Hero", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right header">
  
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#signUpModal" style="outline:none; text-decoration: none !important; color: white;">
          Sign up
        </button>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#signInModal" style="outline:none; text-decoration: none !important; color: white;">
          Sign in
        </button>
        
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle">Support <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><%= link_to "Help Center", help_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li class="divider"></li>
                <li><%= link_to "FAQs", contact_path %></li>

            </ul>
        </div>
        
        <button type="button" class="btn btn-link"  style="outline:none; text-decoration: none !important; color: white;">
          My Account
        </button>
      </ul>
    </nav>
    
    <!-- Sign Up Modal -->
    <%= render "layouts/sign_up_modal" %>
    
    <!-- Sign In Modal -->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form accept-charset="utf8" action="/login" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="center modal-title" id="myModalLabel">Sign in</h4>
            </div>
            <div class="modal-body">
              <input type="text" name="session[email]" id="session_email"
  				  	class="center input form-control fields" placeholder="Email"
  				  	style="max-width: 400px;"><br>
  				  	<input type="password" name="session[password]" id="session_password"
  				  	class="center input form-control fields" placeholder="Password"
  				  	style="max-width: 400px;"><br>
            </div>
            <div class="modal-footer">
              <button type="button" class=" btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" name="commit" class=" btn btn-primary">Go</button>
            </div>
          </div>
        </div>
      </form> 
    </div>
  </div>
</header>