<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Storetype:</strong>
  <%= @item.storeType %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @item.uid %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
