<p id="notice"><%= notice %></p>

<h1>Listing Class Jars</h1>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Progress</th>
      <th>Name</th>
      <th>Type</th>
      <th>Uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_jars.each do |class_jar| %>
      <tr>
        <td><%= class_jar.total %></td>
        <td><%= class_jar.progress %></td>
        <td><%= class_jar.name %></td>
        <td><%= class_jar.type %></td>
        <td><%= class_jar.uid %></td>
        <td><%= link_to 'Show', class_jar %></td>
        <td><%= link_to 'Edit', edit_class_jar_path(class_jar) %></td>
        <td><%= link_to 'Destroy', class_jar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class jar', new_class_jar_path %>
