<p id="notice"><%= notice %></p>

<p>
  <strong>Coins:</strong>
  <%= @teacher_user.coins %>
</p>

<p>
  <strong>Leagueid:</strong>
  <%= @teacher_user.leagueId %>
</p>

<p>
  <strong>Hasstamps:</strong>
  <%= @teacher_user.hasStamps %>
</p>

<%= link_to 'Edit', edit_teacher_user_path(@teacher_user) %> |
<%= link_to 'Back', teacher_users_path %>
