<p id="notice"><%= notice %></p>

<h1>Listing Earned Points</h1>

<table>
  <thead>
    <tr>
      <th>Earnid</th>
      <th>Category code</th>
      <th>Earntime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @earned_points.each do |earned_point| %>
      <tr>
        <td><%= earned_point.earnId %></td>
        <td><%= earned_point.category_code %></td>
        <td><%= earned_point.earnTime %></td>
        <td><%= link_to 'Show', earned_point %></td>
        <td><%= link_to 'Edit', edit_earned_point_path(earned_point) %></td>
        <td><%= link_to 'Destroy', earned_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Earned point', new_earned_point_path %>
