<p id="notice"><%= notice %></p>

<p>
  <strong>Earnid:</strong>
  <%= @earned_point.earnId %>
</p>

<p>
  <strong>Category code:</strong>
  <%= @earned_point.category_code %>
</p>

<p>
  <strong>Earntime:</strong>
  <%= @earned_point.earnTime %>
</p>

<%= link_to 'Edit', edit_earned_point_path(@earned_point) %> |
<%= link_to 'Back', earned_points_path %>
